
.container{
    margin: 0;
    padding: 0;
    width: 100%;

}


.div-header-topo{
    width: 100%;
    height: 100px;

}

.div-header-topo img{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 50px;
    
}

.div-header-topo h1{
    font-size: 2.5em;
    text-align: right;
    margin: 0 100px 0 0;
    padding: 20px;
    

}

/*     NAV     */

.nav-header{
    width: 100vw;
    height: 60px;
    background: rgb(39, 228, 49);
   
}

.ul-nav{
    width: 100%;
    height: 100%;
    background: orange;
    position: relative;
    

}
.ul-nav li{
    list-style-type: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background: red;
    
    
}

.ul-nav li:hover{
    background: #00ffff;
}
.ul-nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    
    
    

}