
.container{
    margin: 0;
    padding: 0;
    width: 100%;

}




/*   HEADER     */

.header{
    width: 100vw;
    height: 100vh;
}



/*     LOGO -TOPO   */


.div-header-topo{
    width: 100%;
    height: 100px;
    background-color: #ccc;

}

.div-header-topo img{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 50px;
    
}

.div-header-topo h1{
    font-size: 2.5em;
    text-align: right;
    margin: 0 100px 0 0;
    padding: 20px;
    
}





/*     NAV     */

.nav-header{
    width: 100%;
    height: 65px;
    background: #000;
    display: table;
    
}

.ul-nav{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.ul-nav li{
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;

}
.ul-nav a:hover{
    background: #00ffff;
    color: #000;
}
.ul-nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    padding: 15px 50px;
    
}
.ul-nav li:last-child{
    margin-right: 60px;
}



/*    IMG-BACKGROUND    */

.div-header-base{
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    
    
}

.div-header-base img{
    width: 100%;
    height: 550px;
    color: #ccc;
    transition: all 1s ease-in-out;
    
    
}

.div-header-base img:hover{
    transform: scale(1.018);
   
}


main{
    margin: 0;
    padding: 0;
}


/*  SECAO 1     */


.sec-1{
    width: 100%;
    height: 100%;

}

.div-filtro{
    width: 30%;
    height: 800px;
    background: orange;
    float: left;
    margin: 10px;
    
}

.div-cards{
    float: right;
    width: 65%;
    
}

.cards{
    width: 100%;
    height: 400px;
    float: right;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
    

}

.card-1{
    background-image: url(../imagens/beach-clouds-daytime-994605.jpg);
    background-size: cover;
    
}

.card-2{
    background-image: url(../imagens/bay-beach-brazil-351283.jpg);
    background-size: cover;
    
}

.card-3{
    background-image: url(../imagens/2012-11_Lagoinha_137-740x431@2x.jpg);
    background-size: cover;
    
}

.card-4{
    background-image: url(../imagens/Lindo-Farol-da-Barra-foto-Ana-Paula-Garrido-640x440.jpg);
    background-size: cover;
    
}

.legenda{
    width: 30%;
    height: 100%;
    background: rgba(0, 225, 255, 0.164);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.title1{
    font-size: 2em;
    color: rgb(0, 0, 0);

}

.conteudo{
    float: right;
}

.conteudo p{
    font-size: 1em;
    color: rgb(8, 6, 6);
    letter-spacing: 1px;
    line-height: 1.5;
    
}

.conteudo p b{
    font-size: 1.5em;
}

.conteudo div{
    text-align: center;
    border: 1px solid rgba(248, 244, 244, 0.253);
    border-radius: 30px;
    background: rgb(0, 0, 0);
}

.conteudo div h2{
    color: #fff;
}

.conteudo div h2 a{
    color: #fff;
    text-decoration: none;
}